.App {
    font-family: Arial, sans-serif;
}

button {
    padding: 8px 16px;
    margin-top: 10px;
    background-color: #babcbe;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #6c6e70;
}